@page "/fetchdatamodal"  
@inject IModalService modal  

<h5>Click thisbutton Show Modal Popup</h5>  


<button @onclick="OpenModal"class="btn btn-primary">View</button> 

@code{
    private void OpenModal()
    {
        modal.Show<FetchData>("Modal Popup Example");
    }
}

